{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>
    <ul>
        {% if entries %}
            {% for entry in entries %}
                <li class="">
                    <a href="{% url 'entries' entry %}" class="me-5">{{ entry }}</a>
                </li>
            {% endfor %}
            {% else %}
            <h2>No entries found. Please check back later or add new entries.</h2>
        {% endif %}
    </ul>

{% endblock %}